*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ptsans;
}
.col-1 {
    float: left;
    width: 6.333333333% ;
    margin: 0 1%;
}
.col-2 {
    float: left;
    width: 14.666666667%;
    margin: 0 1%;
}
.col-3 {
    float: left;
    width: 23%;
    margin: 0 1%;
}
.col-4 {
    float: left;
    width: 31.333333333%;
    margin: 0 1%;
}
.col-5 {
    float: left;
    width: 39.666666667%;
    margin: 0 1%;
}
.col-6 {
    float: left;
    width: 48%;
    margin: 0 1%;
}
.col-7 {
    float: left;
    width: 56.333333333%;
    margin: 0 1%;
}
.col-8 {
    float: left;
    width: 64.666666667%;
    margin: 0 1%;
}
.col-9 {
    float: left;
    width: 73% ;
    margin: 0 1%;
}
.col-10 {
    float: left;
    width: 81.333333333%;
    margin: 0 1%;
}
.col-11 {
    float: left;
    width: 89.666666667%;
    margin: 0 1%;
}
.col-12 {
    float: left;
    width: 98%;
    margin: 0 1%;
}
div.container {
    width: 85%;
    margin: 0 auto;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}